<%= form_for(try) do |f| %>
  <% if try.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(try.errors.count, "error") %> prohibited this try from being saved:</h2>

      <ul>
      <% try.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :try %>
    <%= f.text_field :try %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
