<p id="notice"><%= notice %></p>

<h1>Tries</h1>

<table>
  <thead>
    <tr>
      <th>Try</th>
      <th>How a</th>
      <th>How b</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tries.each do |try| %>
      <tr>
        <td><%= try.try %></td>
        <td><%= try.how_a %></td>
        <td><%= try.how_b %></td>
        <td><%= link_to 'Show', try %></td>
        <td><%= link_to 'Edit', edit_try_path(try) %></td>
        <td><%= link_to 'Destroy', try, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Try', new_try_path %>
